@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
	box-sizing: border-box;
}
html, body {
	position: relative;
  height: 100%;
}

body {
  /* Definition of colors */
  --bg-body: #ffffff;
  --border-main: #DEDEDE;
  --background-main: #FCFCFC;
  --heart-red: #ED4956;
  --footer-wrapper: #F1F1F1;
  --post-button: #3D8AFF;
  --scrollbar-track: #f1f1f1;
  --scrollbar-thumb: #888;
  --scrollbar-thumb-hover: #555;
  --text: #000000;

	background: var(--bg-body);
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: var(--text);
  margin: 0;
  padding: 0;
	text-rendering: optimizeLegibility;
}

.dark {
  --bg-body: #0e1725;
  --border-main: #263c60;
  --background-main: #142035;
  --heart-red: #ED4956;
  --footer-wrapper: #263c60;
  --post-button: #f1f1f1;
  --scrollbar-track: #0e1725;
  --scrollbar-thumb: #263c60;
  --scrollbar-thumb-hover: #142035;
  --text: #f1f1f1;
}

body, p, h1 {
	margin: 0;
}

main{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

section{
  overflow-y: auto;
  max-height: 101px;
  min-height: 70px;
}

footer, header, section {
	display: block;
	}

h1 {
	font-size: 14px;
  font-weight: 500;
}

::-webkit-scrollbar {
  width: 5px;
  margin-left: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}
