@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
	box-sizing: border-box;
}
html, body {
	position: relative;
  height: 100%;
}

body {
  /* Definition of colors */
  --bg-body: #ffffff;
  --border-main: #DEDEDE;
  --background-main: #FCFCFC;
  --heart-red: #ED4956;
  --footer-wrapper: #F1F1F1;
  --post-button: #3D8AFF;
  --scrollbar-track: #f1f1f1;
  --scrollbar-thumb: #888;
  --scrollbar-thumb-hover: #555;
  --text: #000000;

	background: var(--bg-body);
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: var(--text);
  margin: 0;
  padding: 0;
	text-rendering: optimizeLegibility;
}

.dark {
  --bg-body: #0e1725;
  --border-main: #263c60;
  --background-main: #142035;
  --heart-red: #ED4956;
  --footer-wrapper: #263c60;
  --post-button: #f1f1f1;
  --scrollbar-track: #0e1725;
  --scrollbar-thumb: #263c60;
  --scrollbar-thumb-hover: #142035;
  --text: #f1f1f1;
}
	/* sets the base font size for the document; turns on kerning pairs and ligatures */

body, p, h1 {
	margin: 0;
}

main{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

section{
  overflow-y: auto;
  max-height: 101px;
  min-height: 70px;
}

footer, header, section {
	display: block;
	}

	/* ensures that older browsers will display HTML5 elements correctly */

h1 {
	font-size: 14px;
  font-weight: 500;
}

#post-wrapper{
  width: 100%;
  max-width: 526px;
  border: 1px solid var(--border-main);
  background-color: var(--background-main);
  border-radius: 5px;
}

.swiper {
  width: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-wrapper{
  display: grid;
  grid-template-columns: 50px 1fr 53px;
  padding: 15px 25px 10px;
  align-items: center;
}

.user-wrapper img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.info-user-wrapper{
  display: grid;
  grid-gap: 8px;
  margin-left: 25px;
}

.info-user-wrapper p{
  font-size: 10px;
}

.post-details{
  margin: 15px 25px 25px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 23px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height:15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.user-reaction{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 7px;
  justify-items: center;
  align-items: center;
  width: fit-content;
  margin-bottom: 30px;
}

.user-reaction svg{
  cursor: pointer;
}

.wrapper-heart-style{
  display: flex;
  background-color: transparent;
  border: 0;
  transform: scale(1.3);
  padding: 0;
}

.heart{
  fill: var(--background-main);
  stroke: var(--text);
  transform: scale(0.8);
  transform-origin: center;
}

.comment.share {
  stroke: var(--text);
}

.heart-pulse {
  cursor: pointer;
  fill: #ED4956;
  stroke: #ED4956;
  transform: scale(0.8);
  transform-origin: center;
  animation: pulse 1s linear;
}
.comment-wrapper{
  margin-bottom: 10px;
}

.post-description{
  margin-bottom: 30px;
}

.footer-wrapper {
  display: flex;
  width: 100%;
  margin-top: 15px;
}

.footer-wrapper input {
  width: 100%;
  color: var(--text);
  border: 0;
  background-color: var(--footer-wrapper);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin: 0;
  padding: 17px 15px;
  font-size: 12px;
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  outline: none
}


.footer-wrapper button {
  border: 0;
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-weight: 700;
  cursor: pointer;
  color: var(--post-button);
  background-color: var(--footer-wrapper);
  padding-right: 15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}


@keyframes pulse {
	0% {
		transform: scale(0.8);
	}

	10% {
		transform: scale(0.9);
	}

	20% {
		transform: scale(0.7);
	}

	30% {
		transform: scale(1);
	}

	40% {
		transform: scale(0.7);
	}

	50% {
		transform: scale(0.85);
	}

	60% {
		transform: scale(0.75);
	}

	70% {
		transform: scale(0.8);
	}
}

::-webkit-scrollbar {
  width: 5px;
  margin-left: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}
